<%= render 'shared/errors', obj: @ingredient %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@ingredient, :html => { class: 'form-horizontal', role: 'form' }) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :name %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :name, class: 'form-control', placeholder: 'Name of Ingredient', autofocus: true %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit(@ingredient.new_record? ? "Add Ingredient" : "Edit Ingredient", class: 'btn btn-success btn-lg') %>
        </div>
      </div>

    <% end %>
    <div class="col-md-4 col-md-offset-4 cancel-link">
      [  <%= link_to "Cancel Request and Return to Recipes Listing", recipes_path %> ]
    </div>
  </div>
</div>


