<div class="jumbotron center">
  <h1>Welcome to the <span id="color">'WHAT'S COOKING'</span> Recipe App</h1>
  <h2>Find that recipe you've been salivating for</h2>
  <h3>Enjoy chatting with other Chefs</h3>
  <p><%= link_to "Sign up!", signup_path, class: "btn btn-default btn-lg" %></p>
</div>

<div class="feature">
  <h1 class="animated fadeInRight">FEATURED RECIPES</h1>
</div>


<!--<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
<!--    <div class="hovereffect">-->
<!--      <%= image_tag('lemonchicken.jpg') %>-->
        
<!--        <div class="overlay">-->
<!--           <h2>Lemon Chicken</h2>-->
<!--           <a class="info" href="#">link here</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<!--<img class="top" src="images/image1.jpg" alt=""/>-->
<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail hovereffect">
      <%= image_tag('lemonchicken.jpg', class: 'img-responsive') %>
      <div class="caption overlay">
        <h3>Lemon Chicken</h3>
        <p>
          This dish is easy to prepare and filled with that fresh lemony flavor. The lemon garlic butter sauce is that special ingredient that makes this dish.
        </p>
        <p><a href="#" class="btn btn-success info" role="button">View Details..</a> </p>
      </div>
    </div>
  </div>
  
  <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail hovereffect">
      <%= image_tag('pastasausage.jpg', class: 'img-responsive') %>
      <!--<img class="card-img-top" src="http://via.placeholder.com/350x250" alt="Card image cap">-->
      <div class="caption overlay">
        <h3>Baked Pasta With Sausage</h3>
        <p>This recipe comes from my Army days where dishes were often created by throwing in everything including the kitchen sink! I've refined it over the years, and this recipe yields a tangy yet sweet and rich sauce that is sure to make your soldiers happy. The sauce is excellent over any pasta.</p>
        <p><a href="#" class="btn btn-success info" role="button">View Details</a></p>
      </div>
    </div>
  </div>
  
  <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail hovereffect">
       <%= image_tag('chickengumbo.jpg', class: 'img-responsive') %>
    
      <div class="caption overlay">
        <h3>Chicken Creole Gumbo</h3>
        <p>Delicious chicken gumbo consistency with tomato base. Makes plenty to last for several days. Serve over hot cooked rice and sprinkle with filé powder, if desired.</p>
        <p><a href="#" class="btn btn-success info" role="button">View Details</a></p>
      </div>
    </div>
  </div>
  
 
</div>


<!--<div class="container">-->
<!--  <div class="card-group">-->
<!--    <div class="card-deck">-->
<!--      <div class="card">-->
<!--        <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">-->
<!--        <div class="card-block">-->
<!--          <h4 class="card-title">Card title</h4>-->
<!--          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--        </div>-->
<!--        <div class="card-footer">-->
<!--          <small class="text-muted">Last updated 3 mins ago</small>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">-->
<!--        <div class="card-block">-->
<!--          <h4 class="card-title">Card title</h4>-->
<!--          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
<!--        </div>-->
<!--        <div class="card-footer">-->
<!--          <small class="text-muted">Last updated 3 mins ago</small>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">-->
<!--        <div class="card-block">-->
<!--          <h4 class="card-title">Card title</h4>-->
<!--          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>-->
<!--        </div>-->
<!--        <div class="card-footer">-->
<!--          <small class="text-muted">Last updated 3 mins ago</small>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




    <!--<div class="container marketing">-->

      <!-- Three columns of text below the carousel -->
    <!--  <div class="row">-->
    <!--    <div class="col-lg-4">-->
    <!--      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="350" height="140">-->
    <!--      <h2>Heading</h2>-->
    <!--      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>-->
    <!--      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
    <!--    </div><!-- /.col-lg-4 -->
    <!--    <div class="col-lg-4">-->
    <!--      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="350" height="140">-->
    <!--      <h2>Heading</h2>-->
    <!--      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>-->
    <!--      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
    <!--    </div><!-- /.col-lg-4 -->
    <!--    <div class="col-lg-4">-->
    <!--      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="350" height="140">-->
    <!--      <h2>Heading</h2>-->
    <!--      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
    <!--      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
    <!--    </div><!-- /.col-lg-4 -->
    <!--  </div><!-- /.row -->


